{% extends 'base.html.twig' %}

{% block title %}Prisijungimas{% endblock %}

{% block body %}
<form method="post">
    <div class="Block">
        <div class="Title">
            <h3 class="Title-name">Prisijungimas</h3>
        </div>
        <div class="col-md-6 offset-md-3 Login mt-3">
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="col-md-12 mt-3 Input" placeholder="El. Paštas" required autofocus>
                <input type="password" name="password" id="inputPassword" class="col-md-12 mt-3 Input" placeholder="Slaptažodis" required>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        </div>

        <div class="col-md-6 offset-md-3 mt-3 Checkbox">
            <input type="checkbox" name="_remember_me" class="Checkbox-checkmark">
            <span class="Checkbox-name">Prisiminti mane</span>
        </div>

        {% if error %}
            <div class="col-md-6 offset-md-3 mt-3">
                <p class="Login-errorMessage">{{ error.messageKey|trans(error.messageData, 'security') }}</p>
            </div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.username }},
                <a href="{{ path('app_logout') }}">Atsijungti</a>
            </div>
        {% endif %}
        <div class="col-md-12 mt-3 text-center">
            <button class="Button Button--primary" type="submit">
                Prisijungti
            </button>
        </div>
    </div>
</form>
{% endblock %}
