{% extends 'base.html.twig' %}

{% block title %}My Fleet{% endblock %}

{% block body %}
    <div class="Title">
        <h3 class="Title-name">Pridėti naują transporto priemonę</h3>
        <a class="Button Button--primary" href="{{ path('vehicle_list') }}">Atgal</a>
    </div>
    {{ form_start(vehicleForm) }}
        <div class="Form Form-border">
            <div>{{ form_errors(vehicleForm) }}</div>
            <div class="col-md-4 offset-md-4 Form-field">
                {{ form_widget(vehicleForm.make, {'attr': {'class': 'Input', 'placeholder': 'Pavadinimas'}}) }}
            </div>
            <div class="col-md-4 offset-md-4 Form-field">
                {{ form_widget(vehicleForm.model, {'attr': {'class': 'Input', 'placeholder': 'Modelis'}}) }}
            </div>
            <div class="col-md-4 offset-md-4 Form-field">
                {{ form_widget(vehicleForm.firstRegistration, {'attr': {'class': 'Input'}}) }}
            </div>
            <div class="col-md-4 offset-md-4 Form-field">
                {{ form_widget(vehicleForm.registrationPlateNumber, {'attr': {'class': 'Input', 'placeholder': 'Valstybinis numeris'}}) }}
            </div>
            <div class="col-md-4 offset-md-4 Form-field">
                {{ form_widget(vehicleForm.vinCode, {'attr': {'class': 'Input', 'placeholder': 'VIN kodas'}}) }}
            </div>
            <div class="col-md-4 offset-md-4 Form-field">
                {{ form_widget(vehicleForm.type, {'attr': {'class': 'Select'}}) }}
            </div>
            <div class="col-md-4 offset-md-4 Form-field">
                {{ form_widget(vehicleForm.additionalInformation, {'attr': {'class': 'Input', 'placeholder': 'Papildoma informacija'}}) }}
            </div>
            <div class="col-md-4 offset-md-4 Form-field">
                {{ form_widget(vehicleForm.save, {'attr': {'class': 'Button Button--primary'}}) }}
            </div>
        </div>
    {{ form_end(vehicleForm) }}
{% endblock %}