{% extends 'base.html.twig' %}

{% block title %}MyFleet{% endblock %}

{% block body %}
    <div class="Filter">
        <h3 class="Title">Filtras</h3>
        <form class="Filter-content" action="/vehicle/list">
            <select class="col-md-4 Select" name="vehicle_type">
                <option selected value="">Pasirinkite priemonės tipą</option>
                <option value="car">Automobilis</option>
                <option value="van">Furgonas</option>
                <option value="semitrailer">Puspriekabė</option>
                <option value="truck">Vilkikas</option>
            </select>
            <input
                type="text"
                class="col-md-4 Input"
                name="registration_plateNumber_part"
                placeholder="Įveskite valstybinį numerį"
            >
            <div class="col-md-12 Filter-action">
                <button type="submit" class="Button Button--primary">Filtruoti</button>
            </div>
        </form>
    </div>
    <div class="Table">
        <h3 class="Title">Transporto priemonių sąrašas</h3>
        <table class="Table-content col-md-12">
            <thead>
            <tr class="Table-header">
                <th class="Table-column">Markė</th>
                <th class="Table-column">Modelis</th>
                <th class="Table-column">Kėbulo tipas</th>
                <th class="Table-column">Valstybinis numeris</th>
                <th class="Table-column">VIN kodas</th>
                <th class="Table-column"></th>
            </tr>
            </thead>
            <tbody>
                {% for vehicle in vehicles %}
                    <tr class="Table-row">
                        <td class="Table-data">{{ vehicle.make }}</td>
                        <td class="Table-data">{{ vehicle.model }}</td>
                        <td class="Table-data">{{ vehicle.type }}</td>
                        <td class="Table-data">{{ vehicle.registrationPlateNumber }}</td>
                        <td class="Table-data">{{ vehicle.vinCode }}</td>
                        <td class="Table-data"><a href="{{ path('vehicle_view', { id: vehicle.id }) }}">Plačiau</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}