{% extends 'base.html.twig' %}

{% block title %}MyFleet{% endblock %}

{% block body %}
    <div class="Filter">
        <div class="Title">
            <h3 class="Title-name">Filtras</h3>
        </div>
        <form action="{{ path('vehicle_list') }}">
            <div class="mt-5 Filter-content">
                <div class="col-md-4 my-4 Select">
                    <select id="select" name="type" class="Select-value Select-value--primary">
                        <option selected disabled value="">Pasirinkti</option>
                        <option {{ app.request.query.get('type') == 'car' ? 'selected' : '' }} value="car">Automobilis</option>
                        <option {{ app.request.query.get('type') == 'van' ? 'selected' : '' }} value="van">Furgonas</option>
                        <option {{ app.request.query.get('type') == 'semitrailer' ? 'selected' : '' }} value="semitrailer">Puspriekabė</option>
                        <option {{ app.request.query.get('type') == 'truck' ? 'selected' : '' }} value="truck">Vilkikas</option>
                    </select>
                    <span class="Select-name">Kėbulo tipas</span>
                    <i class="material-icons Select-icon Select-icon--primary">keyboard_arrow_down</i>
                </div>
                <div class="col-md-4 my-4 Input">
                    <input
                        type="text"
                        class="Input-value Input-value--primary"
                        name="plate_number"
                        placeholder="Valstybinis numeris"
                        value="{{ app.request.query.get('plate_number') }}"
                    >
                    <span class="Input-name">Valstybinis numeris</span>
                </div>
            </div>
            <div class="col-xs-12 mt-4 Filter-action">
                <button type="submit" class="Button Button--primary">
                    <i class="material-icons Button-icon">search</i>
                    <span class="ml-1">Filtruoti</span>
                </button>
                <a class="Button-link ml-4" href="{{ path('vehicle_list') }}">
                    <span class="ml-1">Nuimti Filtrus</span>
                </a>
            </div>
        </form>
    </div>
    <div class="Table my-5">
        <div class="Title col-xs-12">
            <h3 class="Title-name">Transporto priemonių sąrašas</h3>
            {% if is_granted('ROLE_ADMIN') %}
                <div class="Title-action">
                    <a
                        class="Button Button--primary"
                        href="{{ path('vehicle_create', app.request.query.all) }}"
                    >
                        <i class="material-icons Button-icon">add</i>
                        <span class="ml-1">Nauja</span>
                    </a>
                </div>
            {% endif %}
        </div>
        <div class="Table-responsive my-5">
            {% if vehicles %}
                <table class="Table-content col-md-12 my-4">
                    <thead>
                    <tr class="Table-header">
                        <th class="Table-column">Markė</th>
                        <th class="Table-column">Modelis</th>
                        <th class="Table-column">Kėbulo tipas</th>
                        <th class="Table-column">Valstybinis numeris</th>
                        <th class="Table-column">VIN kodas</th>
                        <th class="Table-column"></th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for vehicle in vehicles %}
                            <tr class="Table-row">
                                <td class="Table-data">{{ vehicle.make }}</td>
                                <td class="Table-data">{{ vehicle.model }}</td>
                                <td class="Table-data">{{ vehicle.type | trans }}</td>
                                <td class="Table-data">{{ vehicle.plateNumber }}</td>
                                <td class="Table-data">{{ vehicle.vin }}</td>
                                <td class="Table-data">
                                    <a
                                        href="{{
                                            path('vehicle_view',
                                            app.request.query.all | merge({ id: vehicle.id }))
                                        }}"
                                    >
                                        Plačiau
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="col-xs-12 Table-empty">
                    <img class="Table-emptyImage" src="/no-data.svg">
                    <span class="Table-emptyNote mt-3">Įrašų nėra</span>
                </div>
            {% endif %}
        </div>
        {% spaceless %}
            {% if pagesCount > 1 %}
                {% set extremePagesLimit = 3 %}
                {% set nearbyPagesLimit = 2 %}
                <div class="Pagination mt-3">
                    {% if page == 1 %}
                        <a class="Button Button--disabled mx-1" href="{{ path('vehicle_list', {page: page-1}) }}">
                            <i class="material-icons Button-icon">keyboard_arrow_left</i>
                        </a>
                    {% else %}
                        <a id="left-arrow" class="Button Button--available mx-1" href="{{ path('vehicle_list', {page: page-1}) }}">
                            <i class="material-icons Button-icon">keyboard_arrow_left</i>
                        </a>
                    {% endif %}

                    {% if page > 1 %}
                        {% for i in range(1, extremePagesLimit) if ( i < page - nearbyPagesLimit ) %}
                            <a class="Button Button--available mx-1" href="{{ path('vehicle_list', {page: i}) }}">{{ i }}</a>
                        {% endfor %}

                        {% if extremePagesLimit + 1 < page - nearbyPagesLimit %}
                            <span class="sep-dots">...</span>
                        {% endif %}

                        {% for i in range(page-nearbyPagesLimit, page-1) if ( i > 0 ) %}
                            <a class="Button Button--available mx-1" href="{{ path('vehicle_list', {page: i}) }}">{{ i }}</a>
                        {% endfor %}
                    {% endif %}

                    <button disabled class="Button Button--primary Button--active mx-1">{{ page }}</button>

                    {% if page < pagesCount %}
                        {% for i in range(page+1, page + nearbyPagesLimit) if ( i <= pagesCount ) %}
                            <a class="Button Button--available mx-1" href="{{ path('vehicle_list', {page: i}) }}">{{ i }}</a>
                        {% endfor %}

                        {% if  (pagesCount - extremePagesLimit) > (page + nearbyPagesLimit) %}
                            <span class="sep-dots">...</span>
                        {% endif %}

                        {% for i in range(pagesCount - extremePagesLimit+1, pagesCount) if ( i > page + nearbyPagesLimit ) %}
                            <a class="Button Button--available mx-1" href="{{ path('vehicle_list', {page: i}) }}">{{ i }}</a>
                        {% endfor %}
                    {% endif %}

                    {% if page == pagesCount %}
                        <a class="Button Button--disabled mx-1" href="{{ path('vehicle_list', {page: page+1}) }}">
                            <i class="material-icons Button-icon">keyboard_arrow_right</i>
                        </a>
                    {% else %}
                        <a class="Button Button--available mx-1" href="{{ path('vehicle_list', {page: page+1}) }}">
                            <i class="material-icons Button-icon">keyboard_arrow_right</i>
                        </a>
                    {% endif %}
                </div>
            {% endif %}
        {% endspaceless %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {{ parent() }}
{% endblock %}