{% extends 'base.html.twig' %}

{% block title %}My Fleet{% endblock %}

{% block body %}
    <div class="Filter">
        <div class="Title">
            <h3 class="Title-name">Filtras</h3>
        </div>
        <form action="/vehicle/list">
            <div class="Filter-content">
                <select class="col-xs-12 col-md-4 mt-4 Select" name="type">
                    <option value="">Kėbulo tipas</option>
                    <option {{ app.request.query.get('type') == 'car' ? 'selected' : '' }} value="car">Automobilis</option>
                    <option {{ app.request.query.get('type') == 'van' ? 'selected' : '' }} value="van">Furgonas</option>
                    <option {{ app.request.query.get('type') == 'semitrailer' ? 'selected' : '' }} value="semitrailer">Puspriekabė</option>
                    <option {{ app.request.query.get('type') == 'truck' ? 'selected' : '' }} value="truck">Vilkikas</option>
                </select>
                <input
                    type="text"
                    class="col-xs-12 col-md-4 mt-4 Input"
                    name="plate_number"
                    placeholder="Valstybinis numeris"
                    value="{{ app.request.query.get('plate_number') }}"
                >
            </div>
            <div class="col-xs-12 mt-4 Filter-action">
                <button type="submit" class="Button Button--primary Button-link">
                    <i class="material-icons Button-icon">filter_list</i>
                </button>
            </div>
        </form>
    </div>
    <div class="Table mt-4">
        <div class="Title col-xs-12">
            <h3 class="Title-name">Transporto priemonių sąrašas</h3>
            <a class="Button Button--primary Button-link" href="{{ path('vehicle_create') }}">
                <i class="material-icons Button-icon">add</i>
            </a>
        </div>
        <div class="Table-responsive">
            <table class="Table-content col-md-12 my-4">
                <thead>
                <tr class="Table-header">
                    <th class="Table-column">Markė</th>
                    <th class="Table-column">Modelis</th>
                    <th class="Table-column">Kėbulo tipas</th>
                    <th class="Table-column">Valstybinis numeris</th>
                    <th class="Table-column">VIN kodas</th>
                    <th class="Table-column"></th>
                </tr>
                </thead>
                <tbody>
                {% for vehicle in vehicles %}
                    <tr class="Table-row" onclick="toVehicle({{ vehicle.id }})">
                        <td class="Table-data">{{ vehicle.make }}</td>
                        <td class="Table-data">{{ vehicle.model }}</td>
                        <td class="Table-data">{{ vehicle.type | trans }}</td>
                        <td class="Table-data">{{ vehicle.plateNumber }}</td>
                        <td class="Table-data">{{ vehicle.vin }}</td>
                        <td class="Table-data"><a href="{{
                            path('vehicle_view', {
                                id: vehicle.id,
                                type: app.request.query.get('type'),
                                plate_number: app.request.query.get('plate_number')
                            }) }}">Plačiau</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% spaceless %}
            {% if pagesCount > 1 %}

                {# the number of first and last pages to be displayed #}
                {% set extremePagesLimit = 3 %}

                {# the number of pages that are displayed around the active page #}
                {% set nearbyPagesLimit = 2 %}

                <div class="Pagination mt-3">
                    {% if currentPage == 1 %}
                        <a class="Button Button--disabled Button-link Pagination-button" href="{{ path('vehicle_list', currentFilters|merge({page: currentPage-1})) }}">
                            <i class="material-icons Button-icon">keyboard_arrow_left</i>
                        </a>
                    {% else %}
                        <a id="left-arrow" class="Button Button--primary Button-link Pagination-button" href="{{ path('vehicle_list', currentFilters|merge({page: currentPage-1})) }}">
                            <i class="material-icons Button-icon">keyboard_arrow_left</i>
                        </a>
                    {% endif %}

                    {% if currentPage > 1 %}
                        {% for i in range(1, extremePagesLimit) if ( i < currentPage - nearbyPagesLimit ) %}
                            <a class="Button Button--primary Pagination-button" href="{{ path('vehicle_list', currentFilters|merge({page: i})) }}">{{ i }}</a>
                        {% endfor %}

                        {% if extremePagesLimit + 1 < currentPage - nearbyPagesLimit %}
                            <span class="sep-dots">...</span>
                        {% endif %}

                        {% for i in range(currentPage-nearbyPagesLimit, currentPage-1) if ( i > 0 ) %}
                            <a class="Button Button--primary Pagination-button" href="{{ path('vehicle_list', currentFilters|merge({page: i})) }}">{{ i }}</a>
                        {% endfor %}
                    {% endif %}

                    <button disabled class="Button Button--active Pagination-button active">{{ currentPage }}</button>

                    {% if currentPage < pagesCount %}
                        {% for i in range(currentPage+1, currentPage + nearbyPagesLimit) if ( i <= pagesCount ) %}
                            <a class="Button Button--primary Pagination-button" href="{{ path('vehicle_list', currentFilters|merge({page: i})) }}">{{ i }}</a>
                        {% endfor %}

                        {% if  (pagesCount - extremePagesLimit) > (currentPage + nearbyPagesLimit) %}
                            <span class="sep-dots">...</span>
                        {% endif %}

                        {% for i in range(pagesCount - extremePagesLimit+1, pagesCount) if ( i > currentPage + nearbyPagesLimit ) %}
                            <a class="Button Button--primary Pagination-button" href="{{ path('vehicle_list', currentFilters|merge({page: i})) }}">{{ i }}</a>
                        {% endfor %}
                    {% endif %}

                    {% if currentPage == pagesCount %}
                        <a class="Button Button--disabled Button-link Pagination-button" href="{{ path('vehicle_list', currentFilters|merge({page: currentPage+1})) }}">
                            <i class="material-icons Button-icon">keyboard_arrow_right</i>
                        </a>
                    {% else %}
                        <a class="Button Button--primary Button-link Pagination-button" href="{{ path('vehicle_list', currentFilters|merge({page: currentPage+1})) }}">
                            <i class="material-icons Button-icon">keyboard_arrow_right</i>
                        </a>
                    {% endif %}
                </div>
            {% endif %}
        {% endspaceless %}
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        const toVehicle = (vehicleId) => {
            location.href = '/vehicle/' + vehicleId;
        }
    </script>
{% endblock %}