{% extends 'base.html.twig' %}

{% block title %}My Fleet{% endblock %}

{% block body %}
    <div class="Vehicle-information">
        <div class="col-md-12 NotesTabs">
            <div class="Title">
                <h3>Transporto priemonės informacija</h3>
            </div>
            <div class="Property col-md-12">
                <p class="Property-name col-md-12">
                    Pavadinimas <strong>{{ vehicle.make }}</strong>
                </p>
                <p class="Property-name col-md-12">
                    Modelis <strong>{{ vehicle.model }}</strong>
                </p>
                <p class="Property-name col-md-12">
                    Kėbulo tipas <strong>{{ vehicle.type | trans }}</strong>
                </p>
                <p class="Property-name col-md-12">
                    Pirma registracija <strong>{{ vehicle.firstRegistration | date('Y-m-d') }}</strong>
                </p>
                <p class="Property-name col-md-12">
                    Valstybinis numeris <strong>{{ vehicle.registrationPlateNumber }}</strong>
                </p>
                <p class="Property-name col-md-12">
                    VIN kodas <strong>{{ vehicle.vinCode }}</strong>
                </p>
            </div>
        </div>
        <div class="col-md-12 NotesTabs">
            <div class="Title">
                <h3>Įrašai</h3>
            </div>
            <div class="NotesTabs-content">
                <div class="NotesTabs-tabs">
                    <div id="tasks" class="col-md-4 NotesTabs-title NotesTabs-title--active">Užduotys</div>
                    <div id="events" class="col-md-4 NotesTabs-title">Įvykiai</div>
                    <div id="expenses" class="col-md-4 NotesTabs-title">Išlaidos</div>
                </div>
                <div class="col-md-12 NotesCard-cards">
                    {% for task in vehicle.tasks %}
                        <div class="NotesCard">
                            <div class="col-md-12 NotesCard-content">
                                <p>{{ task.description }}</p>
                                <p>{{ task.startAt | date('Y-m-d') }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}