{% extends 'base.html.twig' %}

{% block title %}Vehicle{% endblock %}

{% block body %}
    <div class="Vehicle-information">
        <div class="col-md-12 NotesTabs">
            <div class="Title">
                <h3>Transporto priemonės informacija</h3>
            </div>
            <div class="Property col-md-12">
                <p class="Property-name col-md-12">
                    Pavadinimas <strong>{{ vehicle.make }}</strong>
                </p>
                <p class="Property-name col-md-12">
                    Modelis <strong>{{ vehicle.model }}</strong>
                </p>
                <p class="Property-name col-md-12">
                    Kėbulo Tipas <strong>{{ vehicle.type }}</strong>
                </p>
                <p class="Property-name col-md-12">
                    Pirma registracija <strong>{{ vehicle.firstRegistration | date('Y-m-d') }}</strong>
                </p>
                <p class="Property-name col-md-12">
                    Valstybinis Numeris <strong>{{ vehicle.registrationPlateNumber }}</strong>
                </p>
                <p class="Property-name col-md-12">
                    VIN Kodas <strong>{{ vehicle.vinCode }}</strong>
                </p>
            </div>
        </div>

        {{ form(eventForm) }}
        {{ form(taskForm) }}
        {{ form(expenseEntryForm) }}

        {% for i in 1..3 %}
            <div class="col-md-12 NotesTabs">
                <div class="Title">
                    <h3>{{ i }}</h3>
                </div>
                <div class="col-md-12 Property">
                    {% for index in 1..3 %}
                        <div class="NotesCard">
                            <div class="NotesCard-content">
                                <div class="NotesCard-title">
                                    <h5>{{ index }}</h5> <span>, {{ index }}</span>
                                </div>

                                <div class="">
                                    <p>{{ index }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}