{% extends 'base.html.twig' %}

{% block title %}{{ vehicle.make }} {{ vehicle.model }}{% endblock %}

{% block body %}
    <div class="Action">
        <a class="Button Button--primary" href="{{
        path('vehicle_list', {
            type: app.request.query.get('type'),
            plate_number: app.request.query.get('plate_number')
        }) }}">
            <i class="material-icons Button-icon">arrow_back</i>
            <span class="ml-1">Atgal</span>
        </a>
    </div>
    <div class="Block mt-4">
        <div class="Title">
            <h3 class="Title-name">Transporto priemonės informacija</h3>
            <div class="Title-action">
                <a class="Button Button--primary mr-2" href="{{
                path('vehicle_update', {
                    id: vehicle.id,
                    type: app.request.query.get('type'),
                    plate_number: app.request.query.get('plate_number')
                }) }}">
                    <i class="material-icons Button-icon">edit</i>
                    <span class="ml-1">Redaguoti</span>
                </a>
{#                <a class="Button Button--error Button-link" href="">#}
{#                    <i class="material-icons Button-icon">clear</i>#}
{#                    <span class="ml-1">Ištrinti</span>#}
{#                </a>#}
            </div>
        </div>
        <div class="Property col-md-12">
            <p class="Property-name col-md-12">
                Pavadinimas <strong>{{ vehicle.make }}</strong>
            </p>
            <p class="Property-name col-md-12">
                Modelis <strong>{{ vehicle.model }}</strong>
            </p>
            <p class="Property-name col-md-12">
                Kėbulo tipas <strong>{{ vehicle.type | trans }}</strong>
            </p>
            <p class="Property-name col-md-12">
                Pirma registracija <strong>{{ vehicle.firstRegistration | date('Y-m-d') }}</strong>
            </p>
            <p class="Property-name col-md-12">
                Valstybinis numeris <strong>{{ vehicle.plateNumber }}</strong>
            </p>
            <p class="Property-name col-md-12">
                VIN kodas <strong>{{ vehicle.vin }}</strong>
            </p>
            {% if vehicle.additionalInformation %}
                <p class="Property-name col-md-12">
                    Papildoma informacija <span>{{ vehicle.additionalInformation }}</span>
                </p>
            {% endif %}
        </div>
    </div>
    <div class="Block mt-5">
        <div class="Title">
            <h3 class="Title-name">Regitros informacija</h3>
        </div>
{#        <div class="Property col-md-12">#}
{#            <p class="Property-name col-md-12">#}
{#                Techninė apžiūra galioja iki<strong class="Property-value--success">{{ registryDataEntry.technicalInspectionValidTill | date('Y-m-d') }}</strong>#}
{#            </p>#}
{#            <p class="Property-name col-md-12">#}
{#                Transporto priemonės draudimas <strong class="Property-value--error">{{ registryDataEntry.isInsured ? 'Galioja' : 'Negalioja' }}</strong>#}
{#            </p>#}
{#            <p class="Property-name col-md-12">#}
{#                Transporto priemonė paieškoma policijos <strong class="Property-value--error">{{ registryDataEntry.isPoliceSearching ? 'Taip' : 'Ne' }}</strong>#}
{#            </p>#}
{#            <p class="Property-name col-md-12">#}
{#                Transporto priemonė gali dalyvauti eisme <strong class="Property-value--error">{{ registryDataEntry.isAllowedDriving ? 'Taip' : 'Ne' }}</strong>#}
{#            </p>#}
{#        </div>#}
    </div>
    <div class="Block mt-5">
        <div class="Title">
            <h3 class="Title-name">Žemėlapis</h3>
        </div>
        <ul>
        {% for entry in vehicleDataEntries | reverse %}
            <li>Coordinates: {{ entry.latitude }}; {{ entry.longitude }}; Mileage: {{ entry.mileage }}, Time: {{ entry.eventTime | date('Y-m-d H:i:s') }}</li>
        {% endfor %}
        </ul>
        <div id="map" class="col-md-12 mt-3 Map"></div>
    </div>
    <div class="Block my-5">
        <div class="Title">
            <h3 class="Title-name">Įrašai</h3>
        </div>
        <div>
            <div class="NotesTabs">
                <div id="task" onclick="openTab('task-form', 'task', 'tasks')" class="col-xs-12 col-md-4 NotesTabs-title">
                    <i class="material-icons mr-1">list</i>
                    Užduotys
                </div>
                <div id="event" onclick="openTab('event-form', 'event', 'events')" class="col-xs-12 col-md-4 NotesTabs-title">
                    <i class="material-icons mr-1">event</i>
                    Įvykiai
                </div>
                <div id="expense" onclick="openTab('expense-form', 'expense', 'expenses')" class="col-xs-12 col-md-4 NotesTabs-title">
                    <i class="material-icons">euro_symbol</i>
                    Išlaidos
                </div>
            </div>
            <div id="task-form" class="NotesTabs-form">
                <div class="NotesTabs-formAction my-3">
                    <button onclick="openModal('task-modal')" class="Button Button--primary">
                        <i class="material-icons">add</i>
                        <span class="ml-2">Naujas įrašas</span>
                    </button>
                </div>
                <div id="task-modal" class="Modal">
                    <div class="col-lg-4 Modal-content">
                        <div class="Modal-title">
                            <h3>Nauja užduotis</h3>
                            <span class="Modal-close" onclick="closeModal('task-modal')">&times;</span>
                        </div>
                        {{ form_start(taskForm) }}
                            <div class="mt-4">
                                <div class="col-xs-12">{{ form_errors(taskForm) }}</div>
                                <div class="col-xs-12 mt-3 Input">
                                    {{ form_widget(taskForm.startAt, {'attr': {'class': 'Input-value Input-value--primary'}}) }}
                                    <span class="Input-name">Data</span>
                                    <span class="mt-2 Form Form-field--error">{{ form_errors(taskForm.startAt) }}</span>
                                </div>
                                <div class="col-xs-12 mt-3 Input">
                                    {{ form_widget(taskForm.description, {'attr': {'class': 'Input-value Input-value--primary'}}) }}
                                    <span class="Input-name">Aprašymas</span>
                                    <span class="mt-2 Form Form-field--error">{{ form_errors(taskForm.description) }}</span>
                                </div>
                                <div class="col-xs-12 mt-3 Checkbox">
                                    {{ form_widget(taskForm.isCompleted, {'attr': {'class': 'Checkbox-checkmark'}}) }}
                                    <span class="Checkbox-name">Atlikta</span>
                                </div>
                                <div class="col-xs-12 mt-3 NotesTabs-formAction">
                                    <span>{{ form_widget(taskForm.save, {'attr': {'class': 'Button Button--primary'}}) }}</span>
                                </div>
                            </div>
                        {{ form_end(taskForm) }}
                    </div>
                </div>
            </div>
            <div id="tasks" class="col-md-12 NotesCard">
                {% for task in vehicle.tasks %}
                    <div class="col-md-12 NotesCard-content">
                        <span class="col-12 m-0">
                            <strong>{{ task.description }}</strong>
                        </span>
                        <span class="col-12 m-0">
                            {{ task.startAt | date('Y-m-d') }}
                        </span>
                    </div>
                {% endfor %}
                {% if vehicle.tasks is empty %}
                    <div class="col-md-12 NotesCard-empty">
                        <span>Įrašų nėra</span>
                    </div>
                {% endif %}
            </div>
            <div id="event-form" class="NotesTabs-form">
                <div class="NotesTabs-formAction my-3">
                    <button onclick="openModal('event-modal')" class="Button Button--primary">
                        <i class="material-icons">add</i>
                        <span class="ml-2">Naujas įrašas</span>
                    </button>
                </div>
                <div id="event-modal" class="Modal">
                    <div class="col-lg-4 Modal-content">
                        <div class="Modal-title">
                            <h3>Naujas įvykis</h3>
                            <span class="Modal-close" onclick="closeModal('event-modal')">&times;</span>
                        </div>
                        {{ form_start(eventForm) }}
                            <div class="mt-4">
                                <div class="col-xs-12">{{ form_errors(eventForm) }}</div>
                                <div class="col-xs-12 mt-3 Input">
                                    {{ form_widget(eventForm.createdAt, {'attr': {'class': 'Input-value Input-value--primary'}}) }}
                                    <span class="Input-name">Data</span>
                                    <span class="mt-2 Form Form-field--error">{{ form_errors(eventForm.createdAt) }}</span>
                                </div>
                                <div class="col-xs-12 mt-3 Input">
                                    {{ form_widget(eventForm.description, {'attr': {'class': 'Input-value Input-value--primary'}}) }}
                                    <span class="Input-name">Aprašymas</span>
                                    <span class="mt-2 Form Form-field--error">{{ form_errors(eventForm.description) }}</span>
                                </div>
                                <div class="col-xs-12 mt-3 NotesTabs-formAction">
                                    <span>{{ form_widget(eventForm.save, {'attr': {'class': 'Button Button--primary'}}) }}</span>
                                </div>
                            </div>
                        {{ form_end(eventForm) }}
                    </div>
                </div>
            </div>
            <div id="events" class="col-md-12 NotesCard">
                {% for event in vehicle.events %}
                    <div class="col-md-12 NotesCard-content">
                        <span class="col-12 m-0">
                            <strong>{{ event.description }}</strong>
                        </span>
                        <span class="col-12 m-0">
                            {{ event.createdAt | date('Y-m-d') }}
                        </span>
                    </div>
                {% endfor %}
                {% if vehicle.events is empty %}
                    <div class="col-md-12 NotesCard-empty">
                        <span>Įrašų nėra</span>
                    </div>
                {% endif %}
            </div>
            <div id="expense-form" class="NotesTabs-form">
                <div class="NotesTabs-formAction my-3">
                    <button onclick="openModal('expense-modal')" class="Button Button--primary">
                        <i class="material-icons">add</i>
                        <span class="ml-2">Naujas įrašas</span>
                    </button>
                </div>
                <div id="expense-modal" class="Modal">
                    <div class="col-lg-4 Modal-content">
                        <div class="Modal-title">
                            <h3>Nauja išlaida</h3>
                            <span class="Modal-close" onclick="closeModal('expense-modal')">&times;</span>
                        </div>
                        {{ form_start(expenseEntryForm) }}
                            <div class="mt-4">
                                <div class="col-xs-12">{{ form_errors(expenseEntryForm) }}</div>
                                <div class="col-xs-12 mt-3 Input">
                                    {{ form_widget(expenseEntryForm.createdAt, {'attr': {'class': 'Input-value Input-value--primary'}}) }}
                                    <span class="Input-name">Data</span>
                                    <span class="mt-2 Form Form-field--error">{{ form_errors(expenseEntryForm.createdAt) }}</span>
                                </div>
                                <div class="col-xs-12 mt-3 Input">
                                    {{ form_widget(expenseEntryForm.amount, {'attr': {'class': 'Input-value Input-value--primary'}}) }}
                                    <span class="Input-name">Išlaidos dydis</span>
                                    <span class="mt-2 Form Form-field--error">{{ form_errors(expenseEntryForm.amount) }}</span>
                                </div>
                                <div class="col-xs-12 mt-3 Input">
                                    {{ form_widget(expenseEntryForm.description, {'attr': {'class': 'Input-value Input-value--primary'}}) }}
                                    <span class="Input-name">Aprašymas</span>
                                    <span class="mt-2 Form Form-field--error">{{ form_errors(expenseEntryForm.description) }}</span>
                                </div>
                                <div class="col-xs-12 mt-3 NotesTabs-formAction">
                                    <span>{{ form_widget(expenseEntryForm.save, {'attr': {'class': 'Button Button--primary'}}) }}</span>
                                </div>
                            </div>
                        {{ form_end(expenseEntryForm) }}
                    </div>
                </div>
            </div>
            <div id="expenses" class="col-md-12 NotesCard">
                {% for expenseEntry in vehicle.expenseEntries %}
                    <div class="NotesCard-content">
                        <p class="col-12 m-0">
                            <strong>{{ expenseEntry.description }}</strong>
                        </p>
                        <p class="col-12 m-0">
                            {{ expenseEntry.amount }} €
                        </p>
                        <p class="col-12 m-0">
                            {{ expenseEntry.createdAt | date('Y-m-d') }}
                        </p>
                    </div>
                {% endfor %}
                {% if vehicle.expenseEntries is empty %}
                    <div class="col-md-12 NotesCard-empty">
                        <span>Įrašų nėra</span>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
{#    {{ encore_entry_script_tags('map') }}#}
    <script>
        const openTab = (formName, tabName, entriesName) => {
            const x = document.getElementsByClassName("NotesTabs-form");

            for (let i = 0; i < x.length; i++) {
                x[i].style.display = 'none';
            }

            const z = document.getElementsByClassName("NotesCard");

            for (let i = 0; i < z.length; i++) {
                z[i].style.display = 'none';
            }

            document.getElementById(formName).style.display = 'flex';
            document.getElementById(entriesName).style.display = 'flex';

            const y = document.getElementsByClassName("NotesTabs-title");

            for (let i = 0; i < y.length; i++) {
                y[i].className = 'col-md-4 NotesTabs-title';
            }
            document.getElementById(tabName).className += " NotesTabs-title--active";
        };
        document.getElementById('task').click();

        const loadVehicle = () => {
            const Map = L.map('map').setView([51.505, -0.09], 13);

            L.tileLayer('https://api.maptiler.com/maps/streets/256/{z}/{x}/{y}.png?key=0FpdZwCBDclducjXH2WE', {
                attribution: '<a href="https://www.maptiler.com/copyright/" target="_blank">&copy; MapTiler</a> <a href="https://www.openstreetmap.org/copyright" target="_blank">&copy; OpenStreetMap contributors</a>',
            }).addTo(Map);

            L.marker([51.505, -0.09]).addTo(Map);
        };

        window.onload = () => {
            loadVehicle();
        };

        const openModal = (modalId) => {
            let modal = document.getElementById(modalId);
            modal.style.display = "block";
        };

        const closeModal = (modalId) => {
            let modal = document.getElementById(modalId);
            modal.style.display = "none";
        };

        window.onclick = function(event) {
            let taskModal = document.getElementById('task-modal');
            let eventModal = document.getElementById('event-modal');
            let expenseModal = document.getElementById('expense-modal');

            if (event.target === taskModal) {
                taskModal.style.display = "none";
            } else if (event.target === eventModal) {
                eventModal.style.display = "none";
            } else if (event.target === expenseModal) {
                expenseModal.style.display = "none";
            }
        }
    </script>
{% endblock %}