<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="{{ asset('myFleetFavicon.ico') }}">
        <title>{% block title %}My Fleet{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" />
        <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
    </head>
    <body>
        {% block header %}
            <header class="Header">
                <div class="container Header-content">
                    <div class="col-xs-12 col-lg-2 Header-logo">
                        <a href="{{ path('home')}}" class="Link">
                            <img class="Header-image" src="/my-fleet-logo.png">
                        </a>
                    </div>
                    <nav class="col-xs-12 col-lg-6 my-3 Header-navigation">
                        {% if not app.user %}
                            {% if app.request.get('_route') == 'home' %}
                                <a class="Header-link" href="#services">
                                    <i class="material-icons">menu_book</i>
                                    <span class="ml-2">Paslaugos</span>
                                </a>
                            {% endif %}
                            <a class="Header-link ml-3" href="{{ path('app_login') }}">
                                <i class="material-icons">lock_open</i>
                                <span class="ml-2">Prisijungti</span>
                            </a>
                        {% else %}
                            <a class="Header-link" href="{{ path('vehicle_list') }}">
                                <i class="material-icons">dashboard</i>
                                <span class="ml-2">Apžvalga</span>
                            </a>
                            <a class="Header-link ml-3" href="{{ path('app_logout') }}">
                                <i class="material-icons">lock</i>
                                <span class="ml-2">Atsijungti</span>
                            </a>
                            <div class="Header-link ml-3">
                                <i class="material-icons">person</i>
                                <span class="mx-2">{{ app.user.username }}</span>
                            </div>
                        {% endif %}
                    </nav>
                </div>
            </header>
        {% endblock %}
        <main>
            <div class="Snackbar">
                <div class="Snackbar-value flash-warning snackbar-template mt-2">
                    <span></span>
                    <i class="material-icons Button-icon ml-2">clear</i>
                </div>
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="Snackbar-value flash-{{ label }} mt-2">
                            <span>{{ message | trans | raw }}</span>
                            <i class="material-icons Button-icon ml-2">clear</i>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
            <div class="container">
                {% block body %}{% endblock %}
            </div>
        </main>
        {% block footer %}
            <div class="Footer">
                <div class="container Footer-content">
                    <span class="col-sm-12 col-md-6 Footer-contentEntry">
                        Copyright © 2019
                    </span>
                    <span class="col-sm-12 col-md-6 Footer-contentEntry">
                        NFQ Akademija 2019 Ruduo
                    </span>
                </div>
            </div>
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
