<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="{{ asset('myFleet.ico') }}">
        <title>{% block title %}My Fleet{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" />
        <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
    </head>
    <body>
        {% block header %}
            <header class="Header">
                <div class="container Header-content">
                    <div class="Header-logo">
                        <a href="/" class="Link">
                            <img class="Header-image" src="/my-fleet-logo.png">
                        </a>
                    </div>
                    <nav class="Header-menu">
                        <ul class="Header-list">
                            <li class="Header-listItem">
                                <a class="Header-link" href="{{ path('vehicle_list') }}">Apžvalga</a>
                            </li>
                            <li class="Header-listItem">
                                <a class="Header-link" href="{{ path('home') }}">Pagalba</a>
                            </li>
                            <li class="Header-listItem">
                                <a class="Header-link" href="{{ path('app_logout') }}">Atsijungti</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </header>
        {% endblock %}
        <main>
            <div class="container">
                <div class="Snackbar">
                    {# read and display all flash messages #}
                    {% for label, messages in app.flashes %}
                        {% for message in messages %}
                            <div id="snackbar" class="flash-{{ label }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
                {% block body %}{% endblock %}
            </div>
        </main>
        {% block footer %}
            <div class="Footer">
                <div class="container Footer-content">
                    <span class="col-sm-12 col-md-6 Footer-contentEntry">
                        Copyright © 2019 MyFleet Lietuva, Inc.
                    </span>
                    <span class="col-sm-12 col-md-6 Footer-contentEntry">
                        NFQ Akademija 2019 Ruduo
                    </span>
                </div>
            </div>
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
