<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="{{ asset('myfleet.png') }}">
        <title>{% block title %}My Fleet{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" />
        <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
    </head>
    <body>
        {% block header %}
            <header class="Header">
                <div class="container Header-content">
                    <div class="Header-logo">
                        <a href="/" class="Link">
                            <img class="Header-image" src="/new-logo.png">
                        </a>
                    </div>
                    <nav class="Header-menu">
                        <ul class="Header-list">
                            <li class="Header-listItem">
                                <a class="Header-link" href="{{ path('vehicle_list') }}">Apžvalga</a>
                            </li>
                            <li class="Header-listItem">
                                <a class="Header-link" href="/">Pagalba</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </header>
        {% endblock %}
        <div class="container">

            {# read and display all flash messages #}
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="flash-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}

            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
